Source: dxld-locales-config
Section: optional
Priority: standard
Maintainer: Daniel Gröber <dxld@darkboxed.org>
Build-Depends: debhelper (>= 9.0.0), config-package-dev (>= 4.13)
Standards-Version: 3.9.5

Package: dxld-locales-config
Architecture: all
Depends: ${misc:Depends}
Description: A configuration package for locales
Provides: ${diverted-files}
Conflicts: ${diverted-files}
